* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#anchors{
    grid-column: 3/4;
    text-align: center;
}

header{
    height: 40vh;
    background: url("image/bg.jpg");
    background-size: cover;
}

footer{
    background: rgb(60, 25, 25);
}

#about{
    background: rgba(95, 82, 82, 0.21);
}

#portfolio{
    background: rgba(95, 82, 82, 0.13);
}

#contacts{
    background: rgba(47, 39, 39, 0.05);
}

.images{
    width: 50%;
    height: 50%;
}

.aboutMe{
    grid-column: 2/3;
}

#me{
    grid-column: 1/2;
}

footer{
    color: rgb(16, 155, 155);
}

h1{
    background: linear-gradient(to bottom,  rgba(69,179,224,1) 25%, rgba(102,51,153,1) 75% );
    -webkit-background-clip: text;
    color: transparent;
}

.modalFlash{
    display: none;
    border: black solid 5px;
    border-radius: 5%;
    background: white;
}

.modalPiano{
    display: none;
    border: black solid 5px;
    border-radius: 5%;
    background: white;
}

button {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
}

button {
    background: #67c5ff;
    color: white;
}